<div class="contenedor">
  <div class="item" *ngFor="let Producto of producto">
    <figure>
      
      <h1>{{ Producto.nombre }}</h1>

      <div class="camisa">
        <img
          class="camisa__imagen"
          src="{{ Producto.imagen }}"
          alt="Imagen del Producto"
        />

        <div class="camisa__contenido">
          <p>{{ Producto.descripcion }}</p>

          <form class="formulario">
            <select class="formulario__campo">
              <option disabled selected>-- Seleccionar Talla --</option>
              <option>Chica</option>
              <option>Mediana</option>
              <option>Grande</option>
            </select>
            <input
              class="formulario__campo"
              type="number"
              placeholder="Cantidad"
              min="1"
            />
            <input
              class="formulario__submit"
              type="submit"
              value="Agregar al Carrito"
            />
          </form>
        </div>
      </div>
    </figure>
  </div>
</div>
