.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuente-segundaria);
    font-size: 4rem;
}

img {
    width: 100%;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
   border: 1rem solid var(--primario);
   background-color: #261c47;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
   grid-column: 1 / 3;
}

.formulario__submit {
    background-color: #261c47;
    border: none;
    font-size: 2rem;
    font-family: var(--fuente-primaria);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: #261c47;
}

.camisa__contenido {
  margin: 20px;
}

@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin: 20px;
    }

    .camisa img {
      border-radius: 20px;
    }

    .camisa img:hover{
      box-shadow:0 0 2px #fff, 0 0 10px #fff, 0 0 20px #4CE9F3, 0 0 20px #4CE9F3,
      0 0 30px #4CE9F3, 0 0 40px #4CE9F3;
  }
}
