<div class="terminos">
  <h1>TÉRMINOS Y CONDICIONES</h1>

  <p>Bienvenido a nuestro sitio web GameMate. Los presentes términos y condiciones regulan el acceso y uso de los
    servicios
    ofrecidos por nuestro sitio web, incluyendo el registro de datos y la compra de productos en nuestra tienda virtual.
    Al acceder y utilizar nuestro sitio web, aceptas estos términos y condiciones en su totalidad.</p>

  <h2>Registro de datos</h2>

  <p>1.1. Al registrarse en nuestro sitio web, deberás proporcionar información precisa y completa sobre ti. Toda la
    información proporcionada se manejará de acuerdo con nuestra Política de Privacidad, la cual está disponible en
    nuestro sitio web.</p>

  <p>1.2. Eres responsable de mantener la confidencialidad de tu información de inicio de sesión y de cualquier
    actividad que ocurra en tu cuenta. Nos reservamos el derecho de cancelar cualquier cuenta en caso de que se
    sospeche que se está haciendo un uso inadecuado del sitio web.</p>

  <h2>Tienda virtual</h2>

  <p>2.1. Nuestra tienda virtual ofrece productos para todo público. Nos esforzamos por ofrecer descripciones
    detalladas y precisas de los productos, así como imágenes de alta calidad. No obstante, no podemos garantizar
    que los colores de los productos se muestren con precisión en todos los dispositivos.</p>

  <p>2.2. Los precios de nuestros productos están sujetos a cambios sin previo aviso. Nos reservamos el derecho de
    modificar o descontinuar cualquier producto en cualquier momento sin previo aviso.</p>

  <p>2.3. Al realizar una compra en nuestra tienda virtual, aceptas pagar el precio total de la compra, incluyendo
    el costo de envío y cualquier impuesto aplicable.</p>

  <h2>Propiedad intelectual</h2>

  <p>3.1. Todo el contenido publicado en nuestro sitio web, incluyendo pero no limitado a texto, gráficos,
    logotipos, imágenes y software, está protegido por derechos de autor y otras leyes de propiedad intelectual.</p>
  <p>3.2. Queda prohibido utilizar, copiar, reproducir, modificar o distribuir cualquier contenido de nuestro sitio
    web sin nuestra autorización expresa por escrito.</p>

  <h2>Limitación de responsabilidad</h2>

  <p>4.1. En ningún caso seremos responsables por daños directos, indirectos, incidentales, especiales, punitivos o
    consecuentes que resulten del acceso o uso de nuestro sitio web, incluyendo cualquier pérdida de datos o
    ganancias, incluso si se nos ha informado de la posibilidad de dichos daños.</p>
  <p>4.2. Nos esforzamos por mantener nuestro sitio web libre de virus y otros elementos dañinos, pero no
    garantizamos que nuestro sitio web esté libre de dichos elementos. Es responsabilidad del usuario tomar medidas
    adecuadas para proteger su equipo y sus datos.</p>

  <h2>Ley Aplicable</h2>

  <p>5.1. Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes de Argentina.</p>

  <p>5.2. Cualquier disputa que surja en relación con estos términos y condiciones estará sujeta a la jurisdicción
    exclusiva de los tribunales de Argentina.</p>

  <p>Si no estás de acuerdo con estos términos y condiciones, por favor, no utilices nuestro sitio web ni proporciones
    información personal a través del mismo.</p>

  <p>Te recomendamos revisar cuidadosamente los términos y condiciones antes de utilizar nuestro sitio web, y si tienes
    alguna pregunta o inquietud al respecto, no dudes en contactarnos a través de los canales disponibles en nuestro
    sitio web.</p>

</div>
