<!--CARRUSEL-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img__carrusel" src="assets/img__gamer5.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img class="img__carrusel" src="assets/img__gamer6.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img class="img__carrusel" src="assets/img__gamer4.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<!--MAIN 1º SECCION-->
<main>
    <section>
        <div class="main__section--invitacion">
            <div class="main__section--invitacion--1">
                <div class="main__grafico1">
                    <img class="animate__animated animate__pulse animate__infinite	infinite animate__slower	2s" src="assets/img__personaje1.png" alt="">
                </div>
            
                <div class="main__texto1">
                    <h1>¿Quiénes somos?</h1>
                    <p>Si buscás diversión, querés conocer personas para jugar, o alguna relación de amistad gamer, tenés
                    que estar en Game Mate. Con filtros específicos para que encuentres facilmente a tu crush gamer, es
                    el lugar perfecto para conocer gente ideal para vos.</p>
                    <p>En Game Mate sí que hay algo para todo el mundo. ¿Querés encontrar a tu crush gamer? Para esto
                    estamos. ¿Buscás una nueva amistad? Claro que sí. ¿Querés armar una comunidad con personas que
                    hablan tu idioma? Game Mate es para vos. Game Mate no es una simple página para buscar a otros
                    amigos gamer, es el único sitio web argento donde personas con vivencias y experiencias de todo tipo
                    se juntan para formar conexiones, recuerdos y mucho más.</p>
                </div>
            </div>
            <div class="main__section--invitacion--2">
                <div class="main__texto2">
                    <h1>¿Cómo funciona?</h1>
                    <p>Como gamers sabemos lo díficultoso que puede ser conseguir equipo o incluso un duo para jugar, por eso con Game Mate queremos construir una sana comunidad para que todos juguemos en un ambiente divertido y respetuoso.</p>
                    <p> Game Mate conecta con gente de todo el país. Es muy simple, luego de registrar tu cuenta solo hace falta seleccionar el chat y automáticamente podrás chatear con personas que compartan la misma pasión y ganas de jugar que vos.</p>
                </div>
                <div class="main__grafico2">
                    <img class="animate__animated animate__pulse animate__infinite	infinite animate__slower	2s"  src="assets/img__personaje3.png" alt="">
                </div>
            </div>
            <div class="animate__animated animate__flash animate__infinite	infinite animate__slower	1s">
                <div class="main__boton">
                    <a routerLink="/registro" class="main__boton--neon">
                        <span id="span1"></span>
                        <span id="span2"></span>
                        <span id="span3"></span>
                        <span id="span4"></span>
                    REGISTRATE
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--MAIN 2º SECCION-->
    
</main>
